<div class="sticky top-3  bg-white text-black z-999 bg-opacity-50 p-4 font-bold m-3  flex justify-between items-center px-12 border border-black">


  <div class="logo">
    <h1>Logo</h1>
  </div>


  <div>

    <ul class="flex justify-between items-center gap-5">
      <li>Home</li>
      <li>About</li>
      <li>Services</li>
      <li>Contact</li>
    </ul>
  </div>
</div>